wheel==0.36.2
nd2reader==3.3.0
vedo==2021.0.3
PIMS==0.5
tifffile==2021.4.8
networkx==2.5.1
matplotlib==3.4.2
blosc==1.10.4
openpyxl==3.0.7
vtk==9.0.1
kimimaro==2.1.1
scipy==1.6.3
tqdm==4.61.0
scikit-image==0.18.1
numpy==1.20.3
Pillow==8.2.0
