nd2reader==3.*
vedo==2024.*
PIMS==0.7.*
tifffile==2024.*
networkx==3.*
matplotlib==3.*
blosc==1.11.*
openpyxl==3.*
vtk==9.*
kimimaro==4.*
scipy==1.*
tqdm==4.*
scikit-image==0.*
numpy==1.*
Pillow==10.*
